body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
/*Modo oscuro*/
body {
	background-color: #fff;
	color: #000000;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.dark-mode {
	background-color: #000000;
	color: #fff;
}

.dark-mode button {
	background-color: #fff;
	color: #0c0c0c;
}

#toggle{
    display: none;
}
#lable_toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2em;
    color: brown;
}

  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  li.completed {
    background-color: #c3e6cb;
    text-decoration: line-through;
  }
  